.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.tick {
  font-size: 1.5em;
}

.radio-choice-label {
  font-size: 1.25em;
}

#home-text {
  text-align: left;
  padding: 1rem;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

#calendar {
  width: 600px;
  height: 400px;
  border-collapse: collapse;
}

#calendar thead tr td {
  text-align: center;
}

#calendar tbody td {
  border: 1px solid black;
  text-align: right;
  vertical-align: top;
  width: 14%;
}

::backdrop {
    background-color: white;
}
