/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.tick {
  font-size: 1.5em;
}

.radio-choice-label {
  font-size: 1.25em;
}

#home-text {
  text-align: left;
  padding: 1rem;
}


::backdrop {
    background-color: white;
}

#calendar tbody td {
  border: 1px solid black;
  text-align: right;
  vertical-align: top;
  width: 14%;
  padding-bottom: 14%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

#calendar td.dayEmpty {
  border: none;
}